<div class="row">
  <h2>Create Note</h2>
  <form class="col s12" method="post" id="create-note">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" name="title" class="validate" id="note-title">
        <label for="note-title">Title</label>
      </div>
      <div class="input-field col s12">
        <textarea name="body" rows="8" cols="80"
          class="materialize-textarea" id="note-body"></textarea>
        <label for="note-body">Body</label>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <a id="add-btn" class="waves-effect waves-light btn"><i class="fa fa-plus left" aria-hidden="true"></i> Add</a>
      <a id="reset-btn" class="waves-effect waves-light btn"><i class="fa fa-refresh left" aria-hidden="true"></i> Reset</a>
    </div>

  </form>
</div>
