<h1>List of Notes</h1>
<a class="waves-effect waves-light btn" href="notes/create"><i class="fa fa-plus left" aria-hidden="true"></i> Add Note</a>
<div class="center-align">
  {{#each notes}}
    <div class="card-container">
      <div class="card blue-grey darken-1 left-align">
        <div class="card-content white-text">
          <span class="card-title">{{title}}</span>
          <p>{{body}}</p>
        </div>
        <div class="card-action">
          <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
          <a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
